__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

.env
.secrets.toml
config/local/.secrets.toml
config/dev/.secrets.toml
config/prod/.secrets.toml

.venv/
venv/

.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage

*.db
*.sqlite3

.idea/
.vscode/
*.swp
*.swo

*.log
